.navbar-brand {
  font-weight: bold;
}


.link-secondary:hover {
  background-color: var(--tag-hover-bg-color) !important;
  text-decoration: none;
  color: var(--navbar-secondary-text-color) !important;
  opacity: 0.9;
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease, opacity var(--transition-speed) ease !important;
}
